.container{
    width: 507px;
    height: 690px;
    margin: auto;
    margin-top: 7px;
    /* margin-bottom: 70px; */
    border-radius: 12px;
    background-image: linear-gradient(90deg, rgb(49, 198, 218) 0%, rgb(28, 152, 177) 100%);
}

.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 30px;
}

.top-bar input{
    display: flex;
    width: 312px;
    height: 48px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 20px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.weather-image{
    margin-top: 29px;
    display: flex;
    justify-content: center;
    height: 150px;
}

.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 70px;
    font-weight: 400;
}

.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 45px;
    font-weight: 400;
}

.data-container{
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.data{
    font-size: 24px;
    font-weight: 400;
}

.text{
    font-size: 20px;
    font-weight: 400;
}
.text1{
    font-size: 14px;
    font-weight: 400;
}

.icon{
    margin-top: 10px;
    height: 50px; 
    /* color: white;    */
}

.saveBtn{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(80, 220, 187);
    font-size: 20px;
    cursor: pointer;
}
.favBtn{
    margin-top: 25px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(80, 220, 187);
    font-size: 20px;
    cursor: pointer;
}

.viewText{
    margin-bottom: 10px;
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
}